.jumbotron {
    background-image: url('/img/banner.jpeg');
    margin-bottom: 0px;
}

#logoTitle {
    display: inline-flex;
}

#logo {
    font-size: 40px;
    color: darkgoldenrod;
    opacity: 75%;
}

header h1 {
    color: white;
    font-family: 'Great Vibes', cursive;
    font-size: 25px;
    white-space: nowrap;
    margin-bottom: 0;
}

@media screen and (min-width: 360px) {
    header h1 {
        font-size: 32px;
    }
    #logo {
        font-size: 60px;
    }
}

@media screen and (min-width: 412px) {
    header h1 {
        font-size: 35px;
    }
    #logo {
        font-size: 70px;
    }
}

@media screen and (min-width: 540px) {
    header h1 {
        font-size: 40px;
    }
    #logo {
        font-size: 75px;
    }
}

@media screen and (min-width: 768px) {
    header h1 {
        font-size: 60px;
    }
    #logo {
        font-size: 95px;
    }
}

@media screen and (min-width: 912px) {
    header h1 {
        font-size: 65px;
    }
    #logo {
        font-size: 100px;
    }
}

@media screen and (min-width: 1024px) {
    header h1 {
        font-size: 80px;
    }
    #logo {
        font-size: 110px;
    }
}

header i {
    font-size: 15px;
}

.navbar {}

#menuCarousel {
    background-image: url('/img/coffee.jpeg');
    height: 750px;
}

#menuCarousel::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 750px;
    background-color: rgba(0, 0, 0, 0.4);
}

#carouselCol {
    margin-top: 40px;
}